# dependencies
/node_modules

# astro
/dist/
/.astro/
/.ipfs/
/.wrangler/

# Legacy Next.js build artifacts, if present locally
/out/
/.next/

# testing
/coverage

# misc
.DS_Store
*.pem
*.ots.bak

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
