@import "mixins";

.footer {
  @include flex-center;

  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
  flex-direction: column;
}

.credit {
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: 1;
  color: var(--light-slate);

  a {
    padding: 10px;
  }
}
