@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sideElement {
  @media screen and (prefers-reduced-motion: reduce) {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 40px;
    color: var(--light-slate);
    opacity: 1;
    animation: none;
    transform: none;
  }

  @media (width <= 1080px) {
    right: 16px;
    left: auto;
  }

  @media (width <= 768px) {
    display: none;
  }

  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 40px;
  color: var(--light-slate);
  opacity: 0;
  animation: fade-in 0.8s ease forwards;
  animation-delay: 0.6s;
  right: 32px;
  left: auto;
  transform: translateY(24px);
}

.socialList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  align-items: center;

  li {
    &:last-of-type {
      margin-bottom: 10px;
    }

    a {
      padding: 10px;

      &:hover,
      &:focus-visible {
        transform: translateY(-6px);
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.linkWrapper {
  @media (width <= 768px) {
    display: none;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .emailLink {
    padding: 10px;
    margin: 0 auto 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;

    &:hover,
    &:focus-visible {
      transform: translateY(-6px);
    }
  }
}
