@use "../../styles/mixins" as *;

@keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  @include flex-between;

  @media (width <= 1080px) {
    padding: 0 40px;
  }

  @media (width <= 768px) {
    padding: 0 25px;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    @include flex-between;

    @media (width <= 1080px) {
      padding: 0 40px;
    }

    @media (width <= 768px) {
      padding: 0 25px;
    }

    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    height: var(--nav-height);
    padding: 0 50px;
    border-bottom: 2px solid rgb(255 255 255 / 50%);
    opacity: 0;
    animation: none;
    animation-delay: 2s;
    backdrop-filter: blur(12px);
  }

  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  height: var(--nav-height);
  padding: 0 50px;
  border-bottom: 2px solid rgb(255 255 255 / 50%);
  opacity: 0;
  animation: fade-in 1s ease forwards;
  animation-delay: 2s;
  backdrop-filter: blur(12px);
}

.nav {
  @include flex-between;

  position: relative;
  z-index: 12;
  width: 100%;
  font-family: var(--font-mono);
  color: var(--lightest-slate);
  counter-reset: item 0;

  .title {
    @include flex-center;

    .prompt {
      margin-right: 12px;
      margin-bottom: 1px;
      font-size: 32px;
      color: var(--green);
    }
  }
}
