@use "../../styles/mixins" as *;

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  @include flex-between;

  @media (width <= 1080px) {
    padding: 0 40px;
  }

  @media (width <= 768px) {
    padding: 0 25px;
  }

  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  height: var(--nav-height);
  padding: 0 50px;
  border-bottom: 1px solid rgb(255 255 255 / 18%);
  background-color: rgb(4 36 68 / 70%);
  opacity: 0;
  animation: fade-in 1s ease forwards;
  animation-delay: 0.4s;
  transform: translateY(-16px);
  backdrop-filter: blur(12px);
}

.header {
  @media screen and (prefers-reduced-motion: reduce) {
    opacity: 1;
    animation: none;
    transform: none;
  }
}

.nav {
  @include flex-between;

  position: relative;
  z-index: 12;
  width: 100%;
  font-family: var(--font-mono);
  color: var(--lightest-slate);
  counter-reset: item 0;

  .title {
    @include flex-center;

    .prompt {
      margin-right: 12px;
      margin-bottom: 1px;
      font-size: 32px;
      color: var(--green);
    }

    .name {
      font-size: var(--fz-lg);
      letter-spacing: 0.02em;
    }
  }
}
