@mixin button {
  padding: 1.25rem 1.75rem;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  line-height: 1;
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  transition: var(--transition);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--green-tint);
  }

  &::after {
    display: none !important;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
