:root {
  --navy: #042444;
  --lightest-navy: #233554;
  --navy-shadow: rgb(2 12 27 / 70%);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #efffff;
  --green: #04ffaa;
  --green-tint: rgb(100 255 218 / 10%);
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "Fira Code", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 60px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
