:root {
  --navy: #042444;
  --navy-dark: #031a32;
  --navy-light: #0b355c;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #efffff;
  --green: #04ffaa;
  --green-tint: rgb(4 255 170 / 12%);
  --neon-blue: 92 200 255;
  --neon-violet: 155 123 255;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --border-radius: 6px;
  --nav-height: 60px;
  --page-padding: clamp(24px, 8vw, 150px);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
